    <div class="hero">

        <h3>Welcome to GA Manager! <br>To add me to a team, click the button below: </h3>

        <a href="https://slack.com/oauth/authorize?client_id={{data.clientId}}&scope=bot,users:read,users:read.email,channels:read,groups:read,im:read,mpim:read,mpim:write,im:write,groups:write,channels:write,groups:history">
          <img alt="Add to Slack" height="40" width="139"
               src="https://platform.slack-edge.com/img/add_to_slack.png"
               srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
      </a>

    </div>
